<div class="header-logo d-flex justify-content-center align-items-center">
    <div class="header-image">
        <img src="/images/header.png" alt="Local League Image">
    </div>
</div>
<nav class="header-options d-flex justify-content-center">
    <ul class="d-flex justify-content-around">
        <li>
            <a class="d-flex flex-wrap" href="/Local-League/main-page">Main Page</a>
        </li>
        <li>
            <a href="/Local-League/schedule/{{thisWeek}}/All-Teams">Schedule</a>
        </li>
        <li>
            <a href="/Local-League/standings">Standings</a>
        </li>
        {{#unless username}}
        <li>
            <a href="#">Sign In / Register</a>
        </li>
        {{else}}
        <li>
            <a href="#">{{username}}{{#ifeq role 'admin'}}&nbsp;({{role}}){{/ifeq}}</a>
        </li>
        {{/unless}}
    </ul>
</nav>
<div class="header-team-selector d-flex justify-content-center align-items-center">
    {{#each teams}}
    <div class="header-team d-flex justify-content-center align-items-center">
        <a class="logo-team" href="/Local-League/teams/{{name}}">
            <img src="/team-icons/{{logo}}" alt="{{name}}">
        </a>
    </div>
    {{/each}}
</div>