{{#if errorMessage }}
<div class="auth-error-message">
    <p>{{errorMessage}}</p>
</div>
{{/if}}
<div class="background">
    <img class="background-img" src="/background-images/4.jpg"
        alt="Background Image: Soccer field with a ball on the grass">
    <div class="information-container custom-container">
        <div class="column">
            <div class="standings">
                <div class="standings-table">
                    <table id="teams-table">
                        <thead id="thead"></thead>
                        <tbody id="tbody">
                            {{#each team}}
                            <tr>
                                <td class="rank-td">
                                    <div class="ranking{{rank}}">{{rank}}</div>
                                </td>
                                <td class="team-td">
                                    <div class="team"><a class="logo-team" href="/Local-League/teams/{{name}}"><img
                                                src="/team-icons/{{logo}}" alt="{{name}}"></a><a class="name-team"
                                            href="/Local-League/teams/{{name}}">{{name}}</a></div>
                                </td>
                                <td>{{matches}}</td>
                                <td>{{wins}}</td>
                                <td>{{draws}}</td>
                                <td>{{losses}}</td>
                                <td>{{goalsFor}}</td>
                                <td>{{goalsAgainst}}</td>
                                <td>{{goalDifference}}</td>
                                <td class="points-td">{{points}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="schedule-box d-flex flex-column" id="upcoming-matches-container">
                {{#each match}}
                {{#ifeq state 'Final'}}
                <li class="match-date">{{formatDate date}}</li>
                <div class="match final-match">
                    <div class="match-information d-flex flex-row align-items-center">
                        <div class="current-state">
                            <li class="d-flex align-items-center">{{state}}</li>
                        </div>
                        <div class="teams-score d-flex flex-row justify-items-center">
                            <label class="team-name home-team-name d-flex align-items-center"
                                for="home-team">{{formatName
                                homeTeam.name}}</label>
                            <div class="team d-flex flex-row">
                                <img class="home-team" src="{{homeTeam.logo}}"
                                    alt="Home Team ({{formatName homeTeam.name}})">
                            </div>
                            <div class="score d-flex justif-content-center align-items-center">
                                <li class="score home-score">{{homeTeam.score}}</li>
                                <div class="line"></div>
                                <li class="score away-score">{{awayTeam.score}}</li>
                            </div>
                            <div class="team d-flex flex-row">
                                <img class="away-team" src="{{awayTeam.logo}}"
                                    alt="Away Team {{formatName awayTeam.name}}">
                            </div>
                            <label class="team-name away-team-name d-flex align-items-center"
                                for="away-team">{{formatName
                                awayTeam.name}}</label>
                        </div>
                        <div class="extra-information d-flex align-items-center">
                            <ul class="list-unstyled d-flex flex-column justify-content-cente">
                                <li class="field-name">{{field}}</li>
                                <li class="referee main-referee">Main: {{referees.main}}</li>
                                <li class="referee assistant-referee">Assistant: {{referees.assistant}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {{/ifeq}}
                {{/each}}
            </div>
            <div class="last-week-results d-flex flex-column" id="final-matches-container">
                {{#each matchUpc}}
                {{#ifeq state 'Upcoming'}}
                <li class="match-date">{{formatDate date}}</li>
                <div class="match final-match">
                    <div class="match-information d-flex flex-row align-items-center">
                        <div class="current-state">
                            <li class="d-flex align-items-center">{{state}}</li>
                        </div>
                        <div class="teams-score d-flex flex-row justify-items-center">
                            <label class="team-name home-team-name d-flex align-items-center"
                                for="home-team">{{formatName
                                homeTeam.name}}</label>
                            <div class="team d-flex flex-row">
                                <img class="home-team" src="{{homeTeam.logo}}"
                                    alt="Home Team ({{formatName homeTeam.name}})">
                            </div>
                            <div
                                class="match-time d-flex flex-row justify-content-center align-items-center list-unstyled">
                                <li>{{startTime}}</li>
                            </div>
                            <div class="team d-flex flex-row">
                                <img class="away-team" src="{{awayTeam.logo}}"
                                    alt="Away Team {{formatName awayTeam.name}}">
                            </div>
                            <label class="team-name away-team-name d-flex align-items-center"
                                for="away-team">{{formatName
                                awayTeam.name}}</label>
                        </div>
                        <div class="extra-information d-flex align-items-center">
                            <ul class="list-unstyled d-flex flex-column justify-content-cente">
                                <li class="field-name">{{field}}</li>
                                <li class="referee main-referee">Main: {{referees.main}}</li>
                                <li class="referee assistant-referee">Assistant: {{referees.assistant}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {{/ifeq}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="/javascript/matches.js" defer></script>
<script src="/javascript/standings.js" defer></script>