{{#if errorMessage }}
<div class="auth-error-message">
    <p>{{errorMessage}}</p>
</div>
{{/if}}
<div class="background">
    <img class="background-img" src="/background-images/4.jpg"
        alt="Background Image: Soccer field with a ball on the grass">
    <div class="information-container custom-container">
        <div class="column">
            <div class="standings">
                <div class="standings-table">
                    <table id="teams-table">
                        <thead id="thead">
                            <tr>
                                <th class="sticky-rank">
                                    <a class='header-button rank-btn'>Rank &nbsp;<i class='fa fa-sort'></i></a>
                                </th>
                                <th class="team-th sticky-team">
                                    <a class='header-button team-btn'>Team &nbsp;<i class='fa fa-sort'></i></a>
                                </th>
                                <th>
                                    <a class='header-button matches-btn'>Matches</a>
                                </th>
                                <th>
                                    <a class='header-button wins-btn'>W &nbsp;<i class='fa fa-sort'></i></a>
                                </th>
                                <th>
                                    <a class='header-button draws-btn'>D</a>
                                </th>
                                <th>
                                    <a class='header-button losses-btn'>L</a>
                                </th>
                                <th>
                                    <a class='header-button goals-for-btn'>GF</a>
                                </th>
                                <th>
                                    <a class='header-button goals-against-btn'>GA</a>
                                </th>
                                <th>
                                    <a class='header-button goal-diff-btn'>GD</a>
                                </th>
                                <th class="sticky-points">
                                    <a class='header-button points-btn'>PTS &nbsp;<i class='fa fa-sort'></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            {{#each team}}
                            <tr>
                                <td class="rank-td">
                                    <div class="ranking{{rank}}">{{rank}}</div>
                                </td>
                                <td class="team-td">
                                    <div class="team"><a class="logo-team" href="/Local-League/teams/{{name}}"><img
                                                src="/team-icons/{{logo}}" alt="{{name}} icon"></a><a class="name-team"
                                            href="/Local-League/teams/{{name}}">{{name}}</a></div>
                                </td>
                                <td>{{matches}}</td>
                                <td>{{wins}}</td>
                                <td>{{draws}}</td>
                                <td>{{losses}}</td>
                                <td>{{goalsFor}}</td>
                                <td>{{goalsAgainst}}</td>
                                <td>{{goalDifference}}</td>
                                <td class="points-td">{{points}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="schedule-box d-flex flex-column" id="upcoming-matches-container">
                {{#each match}}
                {{#ifeq state 'Final'}}
                <li class="match-date">{{formatDate date}}</li>
                <div class="match final-match">
                    <div class="match-information d-flex flex-row align-items-center">
                        <div class="current-state">
                            <li class="d-flex align-items-center">{{state}}</li>
                        </div>
                        <div class="teams-score d-flex flex-row justify-items-center">
                            <label class="team-name home-team-name d-flex align-items-center"
                                for="home-team">{{formatName
                                homeTeam.name}}</label>
                            <div class="team d-flex flex-row">
                                <img class="home-team" src="{{homeTeam.logo}}"
                                    alt="Home Team ({{homeTeam.name}})">
                            </div>
                            <div class="score d-flex justif-content-center align-items-center">
                                <li class="score home-score">{{homeTeam.score}}</li>
                                <div class="line"></div>
                                <li class="score away-score">{{awayTeam.score}}</li>
                            </div>
                            <div class="team d-flex flex-row">
                                <img class="away-team" src="{{awayTeam.logo}}"
                                    alt="Away Team {{awayTeam.name}}">
                            </div>
                            <label class="team-name away-team-name d-flex align-items-center"
                                for="away-team">{{formatName
                                awayTeam.name}}</label>
                        </div>
                        <div class="extra-information d-flex align-items-center">
                            <ul class="list-unstyled d-flex flex-column justify-content-cente">
                                <li class="field-name">{{field}}</li>
                                <li class="referee main-referee">Main: {{referees.main}}</li>
                                <li class="referee assistant-referee">Assistant: {{referees.assistant}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="{{formatId homeTeam.name awayTeam.name date}}-match-details-modal"
                    class="modal match-details-modal d-flex justify-content-center align-items-center">
                    <div class="modal-content">
                        <div class="close-btn-div d-flex justify-content-end">
                            <span class="close-btn">x</span>
                        </div>
                        <div class="modal-header">
                            <div class="logo-name d-flex justify-content-center align-items-center">
                                <h2 id="{{homeTeam.name}}-{{date}}" class="get-home-team-name">{{formatName homeTeam.name}}</h2>
                                <img class="team-logo" src="{{homeTeam.logo}}" alt="{{homeTeam.name}} icon">
                            </div>
                            <h3>Time</h3>
                            <div class="logo-name d-flex justify-content-center align-items-center">
                                <img class="team-logo" src="{{awayTeam.logo}}" alt="{{awayTeam.name}} icon">
                                <h2 id="{{awayTeam.name}}-{{date}}" class="get-away-team-name">{{formatName awayTeam.name}}</h2>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="match-details">
                                {{#each stats}}
                                <div class="row">
                                    <div class="ht-player col-4">
                                        <div class="home-team-player">
                                            {{#ifeq team ../homeTeam.name}}
                                            <div class="get-player-name">{{name}}</div>
                                            {{/ifeq}}
                                        </div>
                                    </div>
                                    <div class="stat-time col-4">
                                        <div class="stat-and-time">
                                            <div class="home-stat col-4">
                                                {{#ifeq team ../homeTeam.name}}
                                                <img src="{{formatStat type}}" alt="{{type}} stat">
                                                {{/ifeq}}
                                            </div>
                                            <div class="time col-4">{{minute}}</div>
                                            <div class="away-stat col-4">
                                                {{#ifeq team ../awayTeam.name}}
                                                <img src="{{formatStat type}}" alt="{{type}} stat">
                                                {{/ifeq}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="at-player col-4">
                                        <div class="away-team-player">
                                            {{#ifeq team ../awayTeam.name}}
                                            <div class="get-player-name">{{name}}</div>
                                            {{/ifeq}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/ifeq}}
                {{/each}}
            </div>
            <div class="last-week-results d-flex flex-column" id="final-matches-container">
                {{#each matchUpc}}
                {{#ifeq state 'Upcoming'}}
                <li class="match-date">{{formatDate date}}</li>
                <div class="match final-match">
                    <div class="match-information d-flex flex-row align-items-center">
                        <div class="current-state">
                            <li class="d-flex align-items-center">{{state}}</li>
                        </div>
                        <div class="teams-score d-flex flex-row justify-items-center">
                            <label class="team-name home-team-name d-flex align-items-center"
                                for="home-team">{{formatName
                                homeTeam.name}}</label>
                            <div class="team d-flex flex-row">
                                <img class="home-team" src="{{homeTeam.logo}}"
                                    alt="Home Team ({{homeTeam.name}})">
                            </div>
                            <div
                                class="match-time d-flex flex-row justify-content-center align-items-center list-unstyled">
                                <li>{{startTime}}</li>
                            </div>
                            <div class="team d-flex flex-row">
                                <img class="away-team" src="{{awayTeam.logo}}"
                                    alt="Away Team {{awayTeam.name}}">
                            </div>
                            <label class="team-name away-team-name d-flex align-items-center"
                                for="away-team">{{formatName
                                awayTeam.name}}</label>
                        </div>
                        <div class="extra-information d-flex align-items-center">
                            <ul class="list-unstyled d-flex flex-column justify-content-cente">
                                <li class="field-name">{{field}}</li>
                                <li class="referee main-referee">Main: {{referees.main}}</li>
                                <li class="referee assistant-referee">Assistant: {{referees.assistant}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="{{formatId homeTeam.name awayTeam.name date}}-match-details-modal"
                    class="modal match-details-modal d-flex justify-content-center align-items-center">
                    <div class="modal-content">
                        <div class="close-btn-div d-flex justify-content-end">
                            <span class="close-btn">x</span>
                        </div>
                        <div class="modal-header">
                            <div class="logo-name d-flex justify-content-center align-items-center">
                                <h2 class="get-home-team-name">{{formatName homeTeam.name}}</h2>
                                <img class="team-logo" src="{{homeTeam.logo}}" alt="{{homeTeam.name}} icon">
                            </div>
                            <h3>Time</h3>
                            <div class="logo-name d-flex justify-content-center align-items-center">
                                <img class="team-logo" src="{{awayTeam.logo}}" alt="{{awayTeam.name}} icon">
                                <h2 class="get-away-team-name">{{formatName awayTeam.name}}</h2>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="match-details">
                                {{#each stats}}
                                <div class="row">
                                    <div class="ht-player col-4">
                                        <div class="home-team-player">
                                            {{#ifeq team ../homeTeam.name}}
                                            <div>{{name}}</div>
                                            {{/ifeq}}
                                        </div>
                                    </div>
                                    <div class="stat-time col-4">
                                        <div class="stat-and-time">
                                            <div class="home-stat col-4">
                                                {{#ifeq team ../homeTeam.name}}
                                                <img class="get-type" src="{{formatStat type}}" alt="{{type}} stat">
                                                {{/ifeq}}
                                            </div>
                                            <div class="time col-4 get-minute">{{minute}}</div>
                                            <div class="away-stat col-4">
                                                {{#ifeq team ../awayTeam.name}}
                                                <img class="get-type" src="{{formatStat type}}" alt="{{type}} stat">
                                                {{/ifeq}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="at-player col-4">
                                        <div class="away-team-player">
                                            {{#ifeq team ../awayTeam.name}}
                                            <div>{{name}}</div>
                                            {{/ifeq}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/ifeq}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="/javascript/matches.js" defer></script>
<script src="/javascript/standings.js" defer></script>
<script src="/javascript/modalAddEditDelete.js" defer></script>