<div class="background">
    <img class="background-img" src="/background-images/5.jpg" alt="Background Image: Soccer field with a ball on the grass">
    <div class="schedule-container custom-container d-flex flex-column">
        <div class="schedule-options d-flex flex-row justify-content-between align-items-center">
            <div class="week-picker btn-group d-flex flex-row align-items-center" role="group">
                <button id="previous-week" type="button" class="btn btn-light">&lt;</button>
                <button id="current-week" type="button" class="btn btn-light">Mar 3-Mar 10</button>
                <button id="next-week" type="button" class="btn btn-light">&gt;</button>
            </div>
            <div id="calendar-container" style="display:none;">
                <div id="calendar"></div>
            </div>
            <div class="team-selection dropdown d-flex align-items-center">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-placeholder="All teams">
                    All Teams
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" data-team="all-teams">All Teams</a>
                    {{#each team}}
                    <a class="dropdown-item" href="#" data-team="{{name}}">{{name}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="matches-container d-flex flex-column" id="final-matches-container">
            {{#each match}}
            {{#ifeq state 'Final'}}
            <li class="match-date">{{formatDate date}}</li>
            <div class="match final-match">
                <div class="match-information d-flex flex-row align-items-center">
                    <div class="current-state">
                        <li class="d-flex align-items-center">{{state}}</li>
                    </div>
                    <div class="teams-score d-flex flex-row justify-content-center justify-items-center">
                        <label class="team-name home-team-name d-flex align-items-center" for="home-team">{{formatName
                            homeTeam.name}}</label>
                        <div class="team d-flex flex-row">
                            <img class="home-team" src="{{homeTeam.logo}}" alt="Home Team ({{formatName homeTeam.name}})">
                        </div>
                        <div class="score d-flex justif-content-center align-items-center">
                            <li class="score ${homeScoreClass}">{{homeTeam.score}}</li>
                            <div class="line"></div>
                            <li class="score ${awayScoreClass}">{{awayTeam.score}}</li>
                        </div>
                        <div class="team d-flex flex-row">
                            <img class="away-team" src="{{awayTeam.logo}}" alt="Away Team {{formatName awayTeam.name}}">
                        </div>
                        <label class="team-name away-team-name d-flex align-items-center" for="away-team">{{formatName
                            awayTeam.name}}</label>
                    </div>
                    <div class="extra-information d-flex align-items-center">
                        <ul class="list-unstyled d-flex flex-column justify-content-cente">
                            <li class="field-name">{{field}}</li>
                            <li class="referee main-referee">Main: {{referees.main}}</li>
                            <li class="referee assistant-referee">Assistant: {{referees.assistant}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/ifeq}}
            {{/each}}
        </div>
        <div class="matches-container d-flex flex-column" id="upcoming-matches-container">
            {{#each match}}
            {{#ifeq state 'Upcoming'}}
            <li class="match-date">{{formatDate date}}</li>
            <div class="match final-match">
                <div class="match-information d-flex flex-row align-items-center">
                    <div class="current-state">
                        <li class="d-flex align-items-center">{{state}}</li>
                    </div>
                    <div class="teams-score d-flex flex-row justify-content-center justify-items-center">
                        <label class="team-name home-team-name d-flex align-items-center" for="home-team">{{formatName
                            homeTeam.name}}</label>
                        <div class="team d-flex flex-row">
                            <img class="home-team" src="{{homeTeam.logo}}" alt="Home Team ({{formatName homeTeam.name}})">
                        </div>
                        <div class="match-time d-flex flex-row justify-content-center align-items-center list-unstyled">
                            <li>{{startTime}}</li>
                        </div>
                        <div class="team d-flex flex-row">
                            <img class="away-team" src="{{awayTeam.logo}}" alt="Away Team {{formatName awayTeam.name}}">
                        </div>
                        <label class="team-name away-team-name d-flex align-items-center" for="away-team">{{formatName
                            awayTeam.name}}</label>
                    </div>
                    <div class="extra-information d-flex align-items-center">
                        <ul class="list-unstyled d-flex flex-column justify-content-cente">
                            <li class="field-name">{{field}}</li>
                            <li class="referee main-referee">Main: {{referees.main}}</li>
                            <li class="referee assistant-referee">Assistant: {{referees.assistant}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/ifeq}}
            {{/each}}
        </div>
    </div>
</div>