<div class="background">
    <img class="background-img" src="/background-images/5.jpg"
        alt="Background Image: Soccer field with a ball on the grass">
    <div class="schedule-container custom-container d-flex flex-column">
        <div class="schedule-options">
            <div class="week-picker btn-group d-flex flex-row" role="group">
                <a href="/Local-League/schedule/{{displayPreviousWeek}}">
                    <button id="previous-week" type="button" class="btn btn-light">&lt;</button>
                </a>
                <a href="/Local-League/schedule/{{displayDate}}">
                    <button id="current-week" type="button" class="btn btn-light">{{displayDate}}</button>
                </a>
                <a href="/Local-League/schedule/{{displayNextWeek}}">
                    <button id="next-week" type="button" class="btn btn-light">&gt;</button>
                </a>
            </div>
            <div class="team-selection dropdown d-flex align-items-center">
                <select name="team-selection" id="select-team">
                    <option value="/Local-League/schedule/{{../displayDate}}/All-Teams" selected>All Teams</option>
                    {{#each team}}
                    <option value="/Local-League/schedule/{{../displayDate}}/{{addDash name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        {{#ifeq role 'admin'}}
        <div id="add-match-div" class="admin-schedule-options admin-options d-flex justify-content-center align-content-center">
            <button id="add-match" class="btn admin-btn btn-primary add-btn" type="button">Add New Match</button>
        </div>
        {{/ifeq}}
        <div class="matches-container d-flex flex-column" id="final-matches-container">
            {{#each match}}
            {{#ifeq state 'Final'}}
            <li class="match-date">{{formatDate date}}</li>
            <div class="match final-match">
                <div class="match-information d-flex flex-row align-items-center">
                    <div class="current-state">
                        <li class="d-flex align-items-center">{{state}}</li>
                    </div>
                    <div class="teams-score d-flex flex-row justify-items-center">
                        <label class="team-name home-team-name d-flex align-items-center" for="home-team">{{formatName
                            homeTeam.name}}</label>
                        <div class="team d-flex flex-row">
                            <img class="home-team" src="{{homeTeam.logo}}"
                                alt="Home Team ({{formatName homeTeam.name}})">
                        </div>
                        <div class="score d-flex justif-content-center align-items-center">
                            <li class="score home-score">{{homeTeam.score}}</li>
                            <div class="line"></div>
                            <li class="score away-score">{{awayTeam.score}}</li>
                        </div>
                        <div class="team d-flex flex-row">
                            <img class="away-team" src="{{awayTeam.logo}}" alt="Away Team {{formatName awayTeam.name}}">
                        </div>
                        <label class="team-name away-team-name d-flex align-items-center" for="away-team">{{formatName
                            awayTeam.name}}</label>
                    </div>
                    <div class="extra-information d-flex align-items-center">
                        <ul class="list-unstyled d-flex flex-column justify-content-cente">
                            <li class="field-name">{{field}}</li>
                            <li class="referee main-referee">Main: {{referees.main}}</li>
                            <li class="referee assistant-referee">Assistant: {{referees.assistant}}</li>
                        </ul>
                    </div>
                </div>
                {{!-- ADMIN --}}
                {{#ifeq ../role 'admin'}}
                <div class="admin-schedule-options admin-options">
                    <button id="edit-match" class="btn admin-btn edit-btn" type="button">Edit</button>
                    <button id="delete-match" class="btn admin-btn delete-btn" type="button">Delete</button>
                </div>
                {{/ifeq}}
            </div>
            <div id="{{formatId homeTeam.name awayTeam.name date}}-match-details-modal"
                class="modal match-details-modal d-flex justify-content-center align-items-center">
                <div class="modal-content">
                    <span class="close-btn">x</span>
                    <div class="modal-header">
                        <div class="logo-name d-flex justify-content-center align-items-center">
                            <h2>{{formatName homeTeam.name}}</h2>
                            <img class="team-logo" src="{{homeTeam.logo}}" alt="{{homeTeam.name}} icon">
                        </div>
                        <h3>Time</h3>
                        <div class="logo-name d-flex justify-content-center align-items-center">
                            <img class="team-logo" src="{{awayTeam.logo}}" alt="{{awayTeam.name}} icon">
                            <h2>{{formatName awayTeam.name}}</h2>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="match-details">
                            {{#ifeq ../role 'admin'}}
                            <div id="add-stat-div" class="admin-stats-options admin-options">
                                <button id="add-stat" class="btn btn-primary admin-btn add-btn" type="button">Add Statistic</button>
                            </div>
                            {{/ifeq}}
                            {{#each stats}}
                            <div class="row">
                                <div class="ht-player col-4">
                                    <div class="home-team-player">
                                        {{#ifeq team ../homeTeam.name}}
                                        <div>{{name}}</div>
                                        {{/ifeq}}
                                    </div>
                                </div>
                                <div class="stat-time col-4">
                                    <div class="stat-and-time">
                                        <div class="home-stat col-4">
                                            {{#ifeq team ../homeTeam.name}}
                                            <img src="{{formatStat type}}" alt="{{type}}">
                                            {{/ifeq}}
                                        </div>
                                        <div class="time col-4">{{minute}}</div>
                                        <div class="away-stat col-4">
                                            {{#ifeq team ../awayTeam.name}}
                                            <img src="{{formatStat type}}" alt="{{type}}">
                                            {{/ifeq}}
                                        </div>
                                    </div>
                                </div>
                                <div class="at-player col-4">
                                    <div class="away-team-player">
                                        {{#ifeq team ../awayTeam.name}}
                                        <div>{{name}}</div>
                                        {{/ifeq}}
                                    </div>
                                </div>
                            </div>
                            {{!-- ADMIN --}}
                            {{#ifeq ../../role 'admin'}}
                            <div class="admin-stats-options admin-options">
                                <button id="edit-stat" class="btn admin-btn edit-btn" type="button">Edit</button>
                                <button id="delete-stat" class="btn admin-btn delete-btn" type="button">Delete</button>
                            </div>
                            {{/ifeq}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/ifeq}}
            {{/each}}
        </div>
        <div class="matches-container d-flex flex-column" id="upcoming-matches-container">
            {{#each match}}
            {{#ifeq state 'Upcoming'}}
            <li class="match-date">{{formatDate date}}</li>
            <div class="match upcoming-match">
                <div class="match-information d-flex flex-row align-items-center">
                    <div class="current-state">
                        <li class="d-flex align-items-center">{{state}}</li>
                    </div>
                    <div class="teams-score d-flex flex-row justify-items-center">
                        <label class="team-name home-team-name d-flex align-items-center" for="home-team">{{formatName
                            homeTeam.name}}</label>
                        <div class="team d-flex flex-row">
                            <img class="home-team" src="{{homeTeam.logo}}"
                                alt="Home Team ({{formatName homeTeam.name}})">
                        </div>
                        <div class="match-time d-flex flex-row justify-content-center align-items-center list-unstyled">
                            <li>{{startTime}}</li>
                        </div>
                        <div class="team d-flex flex-row">
                            <img class="away-team" src="{{awayTeam.logo}}" alt="Away Team {{formatName awayTeam.name}}">
                        </div>
                        <label class="team-name away-team-name d-flex align-items-center" for="away-team">{{formatName
                            awayTeam.name}}</label>
                    </div>
                    <div class="extra-information d-flex align-items-center">
                        <ul class="list-unstyled d-flex flex-column justify-content-cente">
                            <li class="field-name">{{field}}</li>
                            <li class="referee main-referee">Main: {{referees.main}}</li>
                            <li class="referee assistant-referee">Assistant: {{referees.assistant}}</li>
                        </ul>
                    </div>
                </div>
                {{!-- ADMIN --}}
                {{#ifeq ../role 'admin'}}
                <div class="admin-schedule-options admin-options">
                    <button id="edit-match" class="btn admin-btn edit-btn" type="button">Edit</button>
                    <button id="delete-match" class="btn admin-btn delete-btn" type="button">Delete</button>
                </div>
                {{/ifeq}}
            </div>
            <div id="{{formatId homeTeam.name awayTeam.name date}}-match-details-modal"
                class="modal match-details-modal d-flex justify-content-center align-items-center">
                <div class="modal-content">
                    <span class="close-btn">x</span>
                    <div class="modal-header">
                        <div class="logo-name d-flex justify-content-center align-items-center">
                            <h2>{{formatName homeTeam.name}}</h2>
                            <img class="team-logo" src="{{homeTeam.logo}}" alt="{{homeTeam.name}} icon">
                        </div>
                        <h3>Time</h3>
                        <div class="logo-name d-flex justify-content-center align-items-center">
                            <img class="team-logo" src="{{awayTeam.logo}}" alt="{{awayTeam.name}} icon">
                            <h2>{{formatName awayTeam.name}}</h2>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="match-details">
                            {{#ifeq ../role 'admin'}}
                            <div id="add-stat-div" class="admin-stats-options admin-options">
                                <button id="add-stat" class="btn btn-primary admin-btn add-btn" type="button">Add Statistic</button>
                            </div>
                            {{/ifeq}}
                            {{#each stats}}
                            <div class="row">
                                <div class="ht-player col-4">
                                    <div class="home-team-player">
                                        {{#ifeq team ../homeTeam.name}}
                                        <div>{{name}}</div>
                                        {{/ifeq}}
                                    </div>
                                </div>
                                <div class="stat-time col-4">
                                    <div class="stat-and-time">
                                        <div class="home-stat col-4">
                                            {{#ifeq team ../homeTeam.name}}
                                            <img src="{{formatStat type}}" alt="{{type}}">
                                            {{/ifeq}}
                                        </div>
                                        <div class="time col-4">{{minute}}</div>
                                        <div class="away-stat col-4">
                                            {{#ifeq team ../awayTeam.name}}
                                            <img src="{{formatStat type}}" alt="{{type}}">
                                            {{/ifeq}}
                                        </div>
                                    </div>
                                </div>
                                <div class="at-player col-4">
                                    <div class="away-team-player">
                                        {{#ifeq team ../awayTeam.name}}
                                        <div>{{name}}</div>
                                        {{/ifeq}}
                                    </div>
                                </div>
                            </div>
                            {{!-- ADMIN --}}
                            {{#ifeq ../../role 'admin'}}
                            <div class="admin-stats-options admin-options">
                                <button id="edit-stat" class="btn admin-btn edit-btn" type="button">Edit</button>
                                <button id="delete-stat" class="btn admin-btn delete-btn" type="button">Delete</button>
                            </div>
                            {{/ifeq}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/ifeq}}
            {{/each}}
        </div>
    </div>
</div>

<script src="/javascript/matches.js" defer></script>
<script src="/javascript/modalAddEditDelete.js" defer></script>