<div class="background">
    <img class="background-img" src="/background-images/6.jpg" alt="">
    <div class="standings-container custom-container">
        <div class="cont column">
            <div class="standings-choice-buttons-group">
                <a class="standings-choice-buttons-group-button overall"><span>Overall</span></a>
                <a class="standings-choice-buttons-group-button home"><span>Home</span></a>
                <a class="standings-choice-buttons-group-button guest"><span>Guest</span></a>
            </div>
            <div class="standings-table">
                <table id="teams-table">
                    <thead id="thead"></thead>
                    <tbody id="tbody">
                        {{#each team}}
                        <tr>
                            <td class="rank-td"><div class="ranking{{rank}}">{{rank}}</div></td>
                            <td class="team-td"><div class="team"><a class="logo-team" href="/Local-League/teams/{{name}}"><img src="/team-icons/{{logo}}" alt="{{name}}"></a><a class="name-team" href="/Local-League/teams/{{name}}">{{name}}</a></div></td>
                            <td>{{matches}}</td>
                            <td>{{wins}}</td>
                            <td>{{draws}}</td>
                            <td>{{losses}}</td>
                            <td>{{goalsFor}}</td>
                            <td>{{goalsAgainst}}</td>
                            <td>{{goalDifference}}</td>
                            <td class="points-td">{{points}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/standings.js" defer></script>