{{#if errorMessage }}
<div class="auth-error-message">
    <p>{{errorMessage}}</p>
</div>
{{/if}}
<div class="background">
    <img class="background-img" src="/background-images/6.jpg" alt="">
    {{#ifeq role 'admin'}}
    <div class="admin-team-options-container custom-container d-flex flex-row justify-content-center align-items-center">
        <div id="add-team-div" class="admin-team-options admin-options d-flex flex-row justify-content-center align-items-center">
            <button id="add-team" class="btn admin-btn btn-primary add-btn" type="button">Add New Team</button>
        </div>
    </div>
    {{/ifeq}}
    <div class="standings-container custom-container">
        <div class="cont column">
            <div class="standings-choice-buttons-group">
                <a href="/Local-League/standings"
                    class="standings-choice-buttons-group-button overall {{overall}}"><span>Overall</span></a>
                <a href="/Local-League/standings/homewins"
                    class="standings-choice-buttons-group-button home {{home}}"><span>Home</span></a>
                <a href="/Local-League/standings/guestwins"
                    class="standings-choice-buttons-group-button guest {{guest}}"><span>Guest</span></a>
            </div>
            <div class="standings-table">
                <table id="teams-table">
                    <thead id="thead">
                        <tr>
                            <th class="sticky-rank">
                                <a class='header-button rank-btn'>Rank &nbsp;<i class='fa fa-sort'></i></a>
                            </th>
                            <th class="team-th sticky-team">
                                <a class='header-button team-btn'>Team &nbsp;<i class='fa fa-sort'></i></a>
                            </th>
                            <th>
                                <a class='header-button matches-btn'>Matches</a>
                            </th>
                            <th>
                                <a class='header-button wins-btn'>W &nbsp;<i class='fa fa-sort'></i></a>
                            </th>
                            <th>
                                <a class='header-button draws-btn'>D</a>
                            </th>
                            <th>
                                <a class='header-button losses-btn'>L</a>
                            </th>
                            <th>
                                <a class='header-button goals-for-btn'>GF</a>
                            </th>
                            <th>
                                <a class='header-button goals-against-btn'>GA</a>
                            </th>
                            <th>
                                <a class='header-button goal-diff-btn'>GD</a>
                            </th>
                            <th class="sticky-points">
                                <a class='header-button points-btn'>PTS &nbsp;<i class='fa fa-sort'></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        {{#each team}}
                        <tr>
                            <td class="rank-td">
                                <div class="ranking{{rank}}">{{rank}}</div>
                            </td>
                            <td class="team-td">
                                <div class="team"><a class="logo-team" href="/Local-League/teams/{{name}}"><img
                                            src="/team-icons/{{logo}}" alt="{{name}}"></a><a class="name-team"
                                        href="/Local-League/teams/{{name}}">{{name}}</a></div>
                            </td>
                            <td>{{matches}}</td>
                            {{#ifexists wins}}
                            <td>{{wins}}</td>
                            {{/ifexists}}
                            {{#ifexists homeWins}}
                            <td>{{homeWins}}</td>
                            {{/ifexists}}
                            {{#ifexists awayWins}}
                            <td>{{awayWins}}</td>
                            {{/ifexists}}
                            <td>{{draws}}</td>
                            <td>{{losses}}</td>
                            <td>{{goalsFor}}</td>
                            <td>{{goalsAgainst}}</td>
                            <td>{{goalDifference}}</td>
                            <td class="points-td">{{points}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/standings.js" defer></script>
<script src="/javascript/modalAddEditDelete.js" defer></script>
<script type="module" src="/controllers/teamsCon.mjs"></script>