<div class="background">
    <img id="teams-background-img" class="background-img" src="/background-images/6.jpg" alt="Background Image of a soccer field">
    <div class="team-container container d-flex flex-column flex-wrap justify-content-center align-items-center">
        <div class="lineup-field-container d-flex flex-row justify-content-around">
            {{#each team}}
            <div class="team-lineup">
                <img class="team-lineup-img" src="/lineups/{{lineup}}" alt="Lineup of the players">
            </div>
            <div class="field-info">
                <img class="field-img" src="/fields/{{fieldLink}}" alt="{{fieldName}}">
                <p>{{fieldName}}</p>
            </div>
            {{/each}}
        </div>
        <div class="player-info">
            <table id="players-table">
                <thead id="thead"></thead>
                <tbody id="tbody">
                    {{#each players}}
                    <tr>
                        <td class="name-sticky">{{players.name}}</td>
                        <td>{{players.number}}</td>
                        <td>{{players.age}}</td>
                        <td>{{players.position}}</td>
                        <td>{{players.nationality}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>