{{#if errorMessage }}
<div class="auth-error-message">
    <p>{{errorMessage}}</p>
</div>
{{/if}}
<div class="background">
    <img id="teams-background-img" class="background-img" src="/background-images/6.jpg"
        alt="Background Image of a soccer field">
    {{#ifeq role 'admin'}}
    <div class="admin-team-options-container custom-container d-flex flex-row justify-content-center align-items-center">
        <div class="admin-team-options admim-options d-flex flex-row justify-content-center align-items-center">
            {{#each team}}
            <button id="edit-team-{{name}}-btn" class="btn admin-btn edit-btn edit-team-btn" type="button">Edit Team</button>
            <button class="btn admin-btn btn-danger delete-team-btn" type="button" data-doc="{{name}}">Delete Team</button>
            {{/each}}
        </div>
    </div>
    {{/ifeq}}
    <div class="team-container custom-container d-flex flex-column flex-wrap justify-content-center align-items-center">
        <div class="lineup-field-container d-flex flex-row justify-content-around">
            {{#each team}}
            <div class="team-lineup {{name}}-lineup">
                <img class="team-lineup-img get-lineup-image" src="/lineups/{{lineup}}" alt="Lineup of the players">
                {{#ifeq ../role 'admin'}}
                <div class="admin-team-lineup-options admim-options d-flex flex-row justify-content-center align-items-center">
                    <button id="change-lineup" class="btn admin-btn btn-primary change-btn" type="button">Change Lineup</button>
                </div>
                {{/ifeq}}
            </div>
            <div class="field-info">
                <img class="field-img get-field-image" src="/fields/{{fieldLink}}" alt="{{fieldName}}">
                <div class="field-name d-flex flex-row">
                    <p class="get-field-name">{{fieldName}}</p>
                    {{#ifeq ../role 'admin'}}
                    <div class="admin-team-field-name-options admim-options d-flex flex-row justify-content-center align-items-center">
                        <button id="edit-field-name" class="btn admin-btn edit-btn">Edit</button>
                    </div>
                    {{/ifeq}}
                </div>
                {{#ifeq ../role 'admin'}}
                <div class="admin-team-field-options admim-options d-flex flex-row justify-content-center align-items-center">
                    <button id="change-field" class="btn admin-btn btn-primary change-btn" type="button">Change Field</button>
                </div>
                {{/ifeq}}
            </div>
            {{/each}}
        </div>
        {{#ifeq role 'admin'}}
        <div id="add-player-div" class="admin-player-options admim-options">
            <button id="add-player" class="btn admin-btn btn-primary add-btn" type="button">Add New Player</button>
        </div>
        {{/ifeq}}
        <div class="player-info">
            {{#each team}}
            <table id="players-table-{{name}}" class="get-team-name players-table">
            {{/each}}
                <thead id="thead"></thead>
                <tbody id="tbody">
                    {{#each players}}
                    <tr>
                        <td class="name-sticky get-name">{{name}}</td>
                        <td class="player-number get-jersey-number">{{number}}</td>
                        <td class="get-age">{{age}}</td>
                        <td class="get-position">{{position}}</td>
                        <td class="get-nationality">{{nationality}}</td>
                        {{#ifeq ../role 'admin'}}
                        <td class="edit-delete-player">
                            <div class="admin-player-options admin-options">
                                <button id="{{name}}-{{number}}" class="btn admin-btn edit-btn edit-player-btn" type="button">Edit</button>
                                <button class="btn admin-btn delete-btn delete-player-btn" type="button">Delete</button>
                            </div>
                        </td>
                        {{/ifeq}}
                    </tr>
                    <div id="{{number}}-info-modal"
                        class="modal player-info-modal d-flex justify-content-center align-items-center">
                        <div class="modal-content custom-container">
                            <div class="modal-header d-flex flex-row">
                                <div class="player-name">{{name}}</div>
                                <div class="close-btn">x</div>
                            </div>
                            <div class="modal-body">
                                <p class="player-goals">
                                    Goals: {{stats.goals}}
                                </p>
                                <p class="player-yellow-cards">
                                    Yellow Cards: {{stats.yellowCards}}
                                </p>
                                <p class="player-red-cards">
                                    Red Cards: {{stats.redCards}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/javascript/teams.js" defer></script>
<script src="/javascript/modalAddEditDelete.js" defer></script>